.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fadada;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #94af9e;
  font-size: 6.5rem;
  color: #FF869E;
}

p {
  font-size: 2rem;
  color: #FF869E;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #FF869E;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
